<!DOCTYPE html>

<html>
<head>
    <title>Page Title</title>
    
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>

    <link href="../css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="../css/app.css" rel="stylesheet">        
</head>


<body>
    
    <header class="row">
	<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 header-logo">
	    <img src="logo.png">
	</div>    
	    
        <nav class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
            <div class="btn-group navigation-bar">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span>Archive</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-warning-sign"></span> My Alerts</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-question-sign"></span>About</button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Account</button>
            </div>
        </nav>
    </header>

    <section class="container">
	<div class="row">
	    <div class="col-lg-12 col-md-12 container-header-copy">		    
		<div>CapitolHound is a searchable audio index for the North Carolina general assembly.</div>
	    </div>
	</div>
	    
	<div class="row">
	    <div class="col-lg-6 col-lg-offset-3 search-bar">
		<div class="input-group">
		    <input type="text" class="form-control">
		    <span class="input-group-btn">
			<button class="btn btn-default" type="button">Search</button>
			<div class="clickme">Advanced Options</div>
			
			<script>
			    $('.clickme').on('click', function(){
				$('#advanced-options-container').css('display', 'inherit');
			    });
			    
			    $('.clickme').off('click', function(){
				$('#advanced-options-container').css('display', 'block');			    
			    });
			</script>
			
			<section id="advanced-options-container">
			    <form>
				<input type="radio" name="section" value="house"><label for="house">House</label><br>
				<input type="radio" name="section" value="senate"><label for="senate">Senate</label><br>
				
				<label for="from">From:</label>
				<select name="from">
				    <option value="jan">January</option>
				    <option value="feb">February</option>
				    <option value="mar">March</option>
				    <option value="apr">April</option>
				</select>
				
				<label for="to">To:</label>
				<select name="to">
				    <option value="jan">January</option>
				    <option value="feb">February</option>
				    <option value="mar">March</option>
				    <option value="apr">April</option>
				</select>
				
				<input type="submit" value="Submit">
			    </form>                       
			</section>
		    </span>
		</div>
	    </div>
        </div>
	
	<section class="alerts">
	    <div class="row alerts-copy">
		<span>Use this page to create alerts with CapitolHound.</span><br>
		<span>Alerts notify you when words you care about are spoken about in the General Assembly, sent to your email address.</span>
	    </div>
    
	    <div class="row">
		<h2>Subscribed Alerts</h2>
		<table class=".table col-lg-12 col-md-12 col-sm-12">
		    <thead>
			<tr>
			    <th>Keyword</th>
			    <th>Frequency</th>
			    <th>Method</th>
			    <th>Bookmarks</th>
			</tr>
		    </thead>
		    <tbody>
			<tr>
			    <td>Education</td>
			    <td>Weekly</td>
			    <td>SMS</td>
			    <td>4</td>
			    <td><a href="#">Edit</a><a href="#">Delete</a></td>
			</tr>
		    </tbody>
		    <tfoot>
			<tr>
			    <td><span class="alerts-table-add-new"><span class="glyphicon glyphicon-plus"></span>Add New</span></td>
			    <td>
				<form id="alerts-table-frequency">
				    <select class="form-control">
					<option value="daily">Daily</option>
					<option value="weekly">Weekly</option>
					<option value="monthly">Monthly</option>
				    </select>
				</form>
			    </td>
			    <td>
				<form id="alerts-table-method">
				    <select class="form-control">
					<option value="sms">SMS</option>
					<option value="email">email</option>
					<option value="twitter">Twitter</option>
				    </select>
				</form>
			    </td>
			</tr>
		    </tfoot>
		</table>
	    </div>
	</section>
    </section>

    <script src="../js/bootstrap.min.js"></script>
</body>
</html>
